body
{
    background-color: #5F8D4E;
}
hr
{
    border-style: dotted none none none;
    background-color: #5F8D4E;
    color: white;
    border-width: 10px;
    width: 10%;
}

h1, h3
{
    color: #66BFBF;
}