body
{
    background-color: #65647C;
    color: white;
}
hr
{
    border-style: dotted none none none;
    color: gray;
    border-width: 10px;
    width: 10%;
}

h1, h3
{
    color: #66BFBF;
}
.link:hover
{
    color: #C539B4;
}
a:visited
{
    color: #DC3535;
    font-size:large;
}
img:hover
{
    border-radius: 30%;
}

.profile-img{
/*    padding: 10px;
    background-color: red;*/
    border-radius: 100%;
}